numpy==1.26.4
pandas==2.3.3
scikit-learn
seaborn
streamlit==1.31.1
altair==4.2.2



# create a folder
# create virtual environment
# python -m venv myenv
# myenv\Scripts\activate
# create a file --> requirements.txt
# Run --> pip install -r requirements.txt

# streamlit run app.py